*{ 
    margin: 0;
    padding: 0;
}


.header { 
text-align: center;
font-size: 3em;
background-color: #CBDFBD;
color: #005f73;
font-family: 'Permanent Marker', cursive;
letter-spacing: 2px;
}

.books {
    display:flex;
    overflow:auto;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 100%;
    height: 75vh;
    background-color: #F6F4D2;
    

}


.addBookPage { 
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 0vh;
    left: 35vw;
    width: 30vw;
    height: 50vh;
    background-color: #f1faee;
    align-self: center; 
    display:none;
    border-color: #005f73;
    border-style: solid;

}

.formBoxes, .submitBtn { 
    padding: 8px;
    margin: 10px;

}


.addBookDiv { 
    display: flex;
    justify-content: center;

}

.addBookBtn { 
    background-color: #D4E09B;
    padding: 30px 80px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    outline: none;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    color: #005f73;
    font-size: 25px;

    
}

.addBookBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.addBookBtn:hover { 
    background-color: #F6F4D2;
}

.newBook { 
height: 16vh;
width: 19vw


}


body { 
    background-color: #CBDFBD;
}


.newBook { 
    margin : 20px;
    padding: 20px;
    border-style: outset;
    border-color:#CBDFBD;
    box-shadow:20px 20px 20px #a8dadc;
    
    
}

.readBtn { 
    position: relative;
    background-color: rgb(224, 79, 99);
    font-size: 12px;
    height: 35px;
    width: 100px;
    margin: 10px;
    border-radius: 15px;
    border: solid 3px black;
    right: 12px;
    cursor:pointer;
}

.removeBtn { 
    position: relative;
    background-color: white;
    font-size: 12px;
    height: 35px;
    width: 100px;
    margin: 10px;
    border-radius: 15px;
    border: solid 3px black;
    cursor:pointer;
}

.active { 
    background-color: #90ee90 !important;
}

.inactive { 
    background-color: rgb(224, 79, 99) !important;
}


/* for the book info that dispalys */

.info { 
    padding: 3px;
}